<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            <header>
                <a href="/">Weather</a>
                <a href="/about">About</a>
                <a href="/help">Help</a>
            </header>